@page "/index-securities"
@attribute [Authorize(NaniTraderPermissions.Securities.Default)]
@inherits NaniTraderComponentBase
@inject ISecurityAppService SecurityAppService
@inject IBrokerAppService BrokerAppService
@inject IExchangeAppService ExchangeAppService
@inject IMarketDataProviderAppService MarketDataProviderAppService
@inject AbpBlazorMessageLocalizerHelper<NaniTraderResource> LH
@using Blazorise.Components
@using NaniTrader.Entities
@using NaniTrader.Services.Brokers
@using NaniTrader.Services.Exchanges
@using NaniTrader.Services.MarketData
@using NaniTrader.Services.Permissions
@using NaniTrader.Localization
@using NaniTrader.Services.Securities
@using Volo.Abp.AspNetCore.Components.Web

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["IndexSecurities"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                @if (CanCreateIndexSecurity)
                {
                    <Button Color="Color.Primary"
                            Clicked="OpenCreateIndexSecurityModal">
                        @L["NewIndexSecurity"]
                    </Button>
                }
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="IndexSecurityInListDto"
                  Data="IndexSecuritiesList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn Width="150px"
                                TItem="IndexSecurityInListDto"
                                Field="@nameof(IndexSecurityInListDto.Id)"
                                Sortable="false"
                                Caption="@L["Actions"]">
                    <DisplayTemplate>
                        <Dropdown>
                            <DropdownToggle Color="Color.Primary">
                                @L["Actions"]
                            </DropdownToggle>
                            <DropdownMenu>
                                @if (CanEditIndexSecurity)
                                {
                                    <DropdownItem Clicked="() => OpenEditIndexSecurityModal(context)">
                                        @L["Edit"]
                                    </DropdownItem>
                                }
                                @if (CanDeleteIndexSecurity)
                                {
                                    <DropdownItem Clicked="() => DeleteIndexSecurityAsync(context)">
                                        @L["Delete"]
                                    </DropdownItem>
                                }
                            </DropdownMenu>
                        </Dropdown>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="IndexSecurityInListDto"
                                Field="@nameof(IndexSecurityInListDto.Name)"
                                Caption="@L["Name"]"></DataGridColumn>
                <DataGridColumn TItem="IndexSecurityInListDto"
                                Field="@nameof(IndexSecurityInListDto.Description)"
                                Caption="@L["Description"]">
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="CreateIndexSecurityModal">
    @* <ModalBackdrop /> TODO: check sample code*@
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["NewIndexSecurity"]</ModalTitle>
                <CloseButton Clicked="CloseCreateIndexSecurityModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewIndexSecurity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextEdit @bind-Text="@NewIndexSecurity.Name">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"]</FieldLabel>
                            <TextEdit @bind-Text="@NewIndexSecurity.Description">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["SecurityParentGroup"]</FieldLabel>
                        <SelectList TItem="ParentType"
                                    TValue="int"
                                    Data="Enum.GetValues<ParentType>()"
                                    TextField="@((item)=>item.ToString())"
                                    ValueField="@((item)=>(int)item)"
                                    SelectedValue="CreatingSecurityParentGroupId"
                                    SelectedValueChanged="CreatingParentGroupChanged"
                                    DefaultItemText="Choose your security parent group">
                        </SelectList>
                    </Field>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["SecurityParent"]</FieldLabel>
                            <SelectList TItem="SecurityParent"
                                        TValue="Guid"
                                        Data="@CreatingSecurityParentList"
                                        TextField="@((item)=>item.DisplayName)"
                                        ValueField="@((item)=>item.Id)"
                                        @bind-SelectedValue="@NewIndexSecurity.ParentId"
                                        DefaultItemText="Choose your security parent">
                            </SelectList>
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateIndexSecurityModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateIndexSecurityAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="EditIndexSecurityModal">
    @* <ModalBackdrop /> TODO: check sample code*@
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@EditingIndexSecurity.Name</ModalTitle>
                <CloseButton Clicked="CloseEditIndexSecurityModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingIndexSecurity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingIndexSecurity.Name">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingIndexSecurity.Description">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["SecurityParentGroup"]</FieldLabel>
                        <SelectList TItem="ParentType"
                                    TValue="int"
                                    Data="Enum.GetValues<ParentType>()"
                                    TextField="@((item)=>item.ToString())"
                                    ValueField="@((item)=>(int)item)"
                                    SelectedValue="EditingSecurityParentGroupId"
                                    SelectedValueChanged="EditingParentGroupChanged">
                        </SelectList>
                    </Field>
                    <Validation>
                        <Field>
                            <FieldLabel>@L["SecurityParent"]</FieldLabel>
                            <SelectList TItem="SecurityParent"
                                        TValue="Guid"
                                        Data="@EditingSecurityParentList"
                                        TextField="@((item)=>item.DisplayName)"
                                        ValueField="@((item)=>item.Id)"
                                        @bind-SelectedValue="@EditingIndexSecurity.ParentId"
                                        DefaultItemText="Choose your security parent group">
                            </SelectList>
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditIndexSecurityModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateIndexSecurityAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

